#cabecalho
{
	width: 100%;
	height: 60px;

	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;

	background-color: black;
	color: white;
	font-family:'Maven Pro', sans-serif;
	font-size: 50px;
	box-shadow: -1px 3px 3px black;
	font-family: 'Maven Pro', sans-serif;
}

#cabecalho ul li
{
	display: inline;
}

#cabecalho ul
{
	position: absolute;
	top: 0px;
	left: 230px;
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #808080;
    	overflow: hidden;
	font-family: 'Maven Pro', sans-serif;
}

#titulo
{
	color: white;
	font-family:'Maven Pro', sans-serif;
	font-size: 40px;
}